*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Monda', serif; 

}

/* navbar */

.logo{
    display: flex;
    margin: 8px;
    margin-right: 390px;
    width: 6%;
    height: auto;
}

.logo:hover{
    -webkit-transform: scale(1.3);
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(7, 6, 6);
    position: sticky;
    top: 0;
    height: 55px;
    z-index: 1;
}

.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li{
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 2px 15px;
    transition: all .5sec ease;
}

.navbar ul li a:hover{
    background-color: rgb(223, 189, 0);
    color: black;
    box-shadow: 0 0 6px white, 0 0 10px white;
    border-radius: 8%;
}

/* Home Section  */

#home {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.2);
    height: 495px;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 3px #faf604, 0 0 8px #d5e400;
    z-index: -100;

}

#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: px;
    background: url('fondodef2.jpg') no-repeat center center/cover;
    height: 550px;
    width: 100%;
    z-index: -200;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    position:absolute;
    top: 30%;
    right: 20%;
}

.headings{
    position: relative;
    font-size: 3rem;
    text-align: center;
    margin: 20px 0px;
}

.btn{
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.911);
    color: rgb(238, 238, 238);
    outline: none;
    transition: .6s ease;
    font-size: 15px;
    
}

.btn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0 0 5px rgb(233, 231, 108), 0 0 10px rgb(236, 233, 26), 0 0 25px rgb(255, 238, 0);
}

/*About Section*/

#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 0px;
}

#pic{
    display: flex;
}
#pic img{
    width: 575px;
    height: 525px;
    margin-top: 60px;
}

#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}

#intro h2{
    font-size: 2rem;
    margin-bottom: 10px;
}

/*Habilidades*/

#habilidades{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    align-items: center;
    padding: 20px;


}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
  
}
.gallery img{
    width: 360px;
    height: 240px;
    margin: 10px;
    border: 1px solid rgba(255, 255, 255, 0.911);
}

.img1:hover{
    -webkit-transform: scale(1.2);
    border: 2px solid rgba(255, 255, 255, 0.911); 
}

/* Services Section */
#services{
    display: flex;
    flex-direction: column;
    padding: 20px;

}
.row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.box{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border: 3px solid black;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to top, rgb(196, 150, 2) 50%, rgb(255, 255, 255) 50%);
    background-size: 100% 200%;
    transition: all .8s;
}

.headings__services{
    font-size: 20px;
}

.box:hover{
    background-position: left bottom;
    color: white;
    border: none;
    box-shadow: 0 0 20px rgb(56, 56, 54);
}

.box img{
    width: 80px;
    height: 80px;
    background-color: white;
    padding: 10px;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}

/* Formulario */

#contact {
    max-width: 800%;
    width: 100%;
    margin: auto;
    background: rgb(231, 219, 104);
	padding: 40px;
}

.formulario {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
    width: 700px;

}

.formulario__label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 100%;
	background: rgb(214, 214, 214);
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #000;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgb(255, 254, 254);
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}

.content___form {
    justify-content: center;
    display: flex;
    margin-bottom: 36px;
}

.link{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
    
.link__icon{
    width: 120px;
    height: 120px;
    display: block;
    padding: 10px;
    }
    
.link__icon:hover{
    box-shadow: 0 0 7px rgb(253, 251, 251);
    }

/*Contact Section 

#contact{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 20px;
}   

.registry-section {
    background-image: linear-gradient(
        to bottom,
        rgba(245, 246, 252, 0.52),
        rgba(19, 111, 117, 0.73)
      ),
      url(https://images.unsplash.com/photo-1511988617509-a57c8a288659?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1351&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  .form-container {
    width: 600px;
    max-width: 100%;
    background: #a6c7cade;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 5px 16px 0px rgba(50, 50, 50, 0.75);
  }
  .form-header {
    background: #1e9ba3;
    padding: 20px 40px;
    text-align: center;
    color: #fff;
    border-bottom: 5px solid #fff;
  }
  .form {
    padding: 25px 40px;
  }
  .form-box {
    padding-bottom: 20px;
    margin-bottom: 10px;
  }
  .form-box input {
    display: block;
    width: 100%;
    font-family: inherit;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    font-size: 15px;
    margin-top: 10px;
  }
  .form-box input:focus {
    outline-color: #1e9ba3;
  }
  .form-box .error-text {
    color: #ca3434;
    visibility: hidden;
  }
  .form button {
    display: block;
    width: 100%;
    padding: 15px;
    background: #1e9ba3;
    border: 1px solid #1e9ba3;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    font-family: inherit;
    text-transform: uppercase;
  }
  .form button:disabled {
    background: #82a0a2;
    border: 1px solid #82a0a2;
    color: lightgray;
  }
  .form-box.form-error input {
    border-bottom: 2px solid red;
  }
  .form-box.form-error .error-text {
    visibility: visible;
  }
  .form-box.form-success input {
    border-bottom: 2px solid #1e9ba3;
  }




/*
.form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0;
}
.input{
    padding: 12px;
    margin: 15px;
    width: 30%;
    border: none;
    outline: none;
}
#msg{
    padding: 1px;
    margin: 15px;
    width: 20%;
    border: none;
    outline: none;
}

#send{
    padding: 10px;
    width: 10%;
    margin: 40px;
    border: none;
    outline: none;
}

#send:hover{
    cursor: pointer;
    box-shadow: 0 0 10px white;
}


/*SLIDER
.container{
    margin: auto;
    background-color: white;
    width: 800px;
    padding: 30px;
  }
  
  ul, li {
      padding: 0;
      margin: 0;
      list-style: none;
  }
  
  ul.slider{
    position: relative;
    width: 800px;
    height: 300px;
  }
  
  ul.slider li {
      position: absolute;
      left: 0px;
      top: 0px;
      opacity: 0;
      width: inherit;
      height: inherit;
      transition: opacity .5s;
      background:#fff;
  }
  
  ul.slider li img{
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  
  ul.slider li:first-child {
      opacity: 1; /*Mostramos el primer <li>
  }
  
  ul.slider li:target {
      opacity: 1; /*Mostramos el <li> del enlace que pulsemos
  }
  
  .menu{
    text-align: center;
    margin: 20px;
  }
  
  .menu li{
    display: inline-block;
    text-align: center;
  }
  
  .menu li a{
    display: inline-block;
    color: transparent;
    text-decoration: none;
    background-color: rgb(255, 218, 9);
    padding: 10px;
    width: 35px;
    height: 35px;
    font-size: 13px;
    border-radius: 100%;
  }

  .menu li a:hover{
    -webkit-transform: scale(1.1);
    color: rgb(100, 98, 98);
    border: none;
    box-shadow: 0 0 20px rgb(36, 36, 35);
  }
  /*